<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.guet.sharehotel">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 百度地图基础定位权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.CustomerServiceActivity"/>
        <activity android:name=".activity.AboutUsActivity"/>
        <activity android:name=".activity.CouponActivity"/>
        <activity android:name=".activity.CreditScoreActivity"/>
        <activity android:name=".activity.IntegralRecordActivity"/>
        <activity android:name=".activity.MyCollectionActivity1"/>
        <activity android:name=".activity.FindActivity"/>
        <activity android:name=".activity.FilterHotelActivity"/>
        <activity android:name=".activity.HotelSelectedInfoActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        地图key和服务
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="48EMXulYQ0FXEoOEulfcOb3O3m03Uxse"/>
        key:开发者申请的key

        声明service组件
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".activity.OrderDetailActivity">
        </activity>
        <activity
            android:name=".activity.PostHouseActivity"
            android:theme="@style/DefaultCityPickerTheme">
        </activity>
        <activity android:name=".activity.PaySuccessActivity">
        </activity>
        <activity android:name=".activity.PublishCommentActivity">
        </activity>
        <activity android:name=".activity.CommentActivity"/>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity"/>
        //选择图片
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity"/>
        //预览图片
        <activity android:name=".activity.MyHouseActivity">
        </activity>
        <activity android:name=".activity.MapActivity">
        </activity>
        <activity android:name=".activity.ModifyActivity">
        </activity>
        <activity android:name=".activity.CheckOutActivity">
        </activity>
        <activity android:name=".activity.WalletActivity">
        </activity>
    </application>

</manifest>